.principal{
    margin-left: 200px;
}
.principal .infos{
    margin: 20px;
    color: #A6B0BD;
    line-height: 25px;
} 
.principal .infos div{
    margin-bottom: 20px;
}

/* NOTICIA 1 */
.noticia1{
 align-items: center;
 border-bottom: 1px solid #8892A4;
 padding-bottom: 5px;
}
.titulo-not1{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}
.sub-not1{
    margin-top: 335px;
    font-style: italic;
    font-size: 12px;
}
.img-noticia1-1{
    width: 500px;
    float: left;
    margin-left: 310px;
}
.img-noticia1-2{
    width: 500px;
    float: left;
    margin-left: 10px;
}


/* NOTICIA 2 */
.noticia2{
    align-items: center;
    border-bottom: 1px solid #8892A4;
    padding-bottom: 5px;
}
.titulo-not2{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}
.slider{
	max-width: 700px;
	margin:80px auto;
	position: relative;
	overflow: hidden;
}

.slider .left-slide,.slider .right-slide{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #171a21;
    border-radius: 50%;
    color:#ffffff;
    font-size: 20px;
    top:50%;
    cursor: pointer;
    margin-top: -20px;
    text-align: center;
    line-height: 40px;
  
}
.slider .left-slide:hover,.slider .right-slide:hover{
    box-shadow: 0px 0px 10px black;
    background-color: #8892A4;
}
.slider .left-slide{
	left: 30px;
}
.slider .right-slide{
	right: 30px;
}
.slider .slider-items .item img{
	max-width: 100%;
	display: block;
}
.slider .slider-items .item{
	display: none;
	position: relative;
}
.slider .slider-items .item.active{
	display: block;
}